.CardDetail{
    margin: 10px;
    display: flex;
    background-color: rgb(118, 190, 214);
    padding: 5px;
    color: black;
    justify-content: space-evenly;
}
.imgProductDetail{
    width: 250px;
    height: 400px;
    border-radius: 5%;
}
.detalles{
    font-size: 18px;
    padding: 5px;
    font-family: sans-serif;
    background-color: rgb(186, 220, 220);
    border-radius: 5%;

}
