.form{
    border-style: solid;
    width: 400px;
    margin: 10px 250px 10px 540px;
    color: black;
    border-width: 2px;
}


.formInput{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: rgb(136, 244, 244);
    

}
input{
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(213, 238, 230);
    height: 20px;
    margin-top: 15px;
}
#confirmacion{
    position: absolute;
    right: 0;
    border-style: solid;
    background-color: rgb(136, 244, 244);
    border-radius: 10px;
    color: black;
    max-height: 100px;
    max-width: 200px;
}