.form{
    border-style: solid;
    width: 400px;
    margin: 10px 250px 10px 540px;
    color: black;
}


.formInput{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: rgb(164, 240, 240);

}
input{
    margin: 10px;
    border-radius: 15px;
    background-color: aquamarine;
    height: 20px;
    margin-top: 15px;
}
#confirmacion{
    position: absolute;
    right: 0;
    border-style: solid;
    background-color: aquamarine;
    border-radius: 10px;
    color: black;
    max-height: 100px;
    max-width: 200px;
}