.flex{
    display: flex;
    justify-content: center;
}


.botones{
    margin-top: 18px;
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 20px;
    border-radius: 50px;
    background-color: red;

}
.botonAgregar{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    height: 30px;
}
